.account_section_personal_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.account_section_personal_heading.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.account_section_personal_title {
    font-weight: 400;
    color: #333333;
    margin-bottom: 15px;
}

.account_section_personal_heading a {
    transition: all .3s ease-in-out;
    text-decoration: none;
    color: #000000;
}

.account_section_personal_heading a:hover {
    transition: all .3s ease-in-out;
    color: #44EE95;
}

@media (min-width: 1140px) {
    .account_section_personal_title {
        font-size: 24px;
        line-height: 46px;
}
}

@media (max-width: 1139.9px) {
    .account_section_personal_title {
        font-size: 20px;
        line-height: 28px;
}
}
