.account_section_personal_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.account_section_personal_title {
    font-weight: 400;
    color: #333333;
    margin-bottom: 15px;
}

@media (min-width: 1140px) {
    .account_section_personal_title {
        font-size: 24px;
        line-height: 46px;
}
}

@media (max-width: 1139.9px) {
    .account_section_personal_title {
        font-size: 20px;
        line-height: 28px;
}
}
