.feature_card_body {
    padding: 20px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 10px 0px 55px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    flex: 1;
}

@media (min-width: 1140px) {
    .feature_card_body:not(:last-child) {
        margin-right: 20px;
    }
}

@media (max-width: 1139.9px) {
    .feature_card_body {
        margin-bottom: 20px;
    }
}


.feature_card_number {
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(109.28deg, #16F09B 0.91%, #09D1CA 100%);
    border-radius: 0px 10px;
    padding: 12px;
    color: #ffffff;
}

.feature_card_content {
    display: flex;
}

.feature_card_icon img {
    width: 62px;
    margin-right: 20px;
}

.feature_card_text {

}

.feature_card_text p {
    font-weight: 300;
    font-size: 12px;
    line-height: 22px;
}
