@media (min-width: 1140px) {
    .how_it_works_section {
        padding-top: 60px;
    }
    .how_it_works_section h2 {
        margin-bottom: 80px;
    }
    .how_it_works_section_row {
        flex-direction: row;
    }
    .how_it_works_section_col {
        padding: 0 30px 30px 30px;
        width: 50%;
        flex: 1;
        margin-bottom: 50px;
    }
    .how_it_works_section_col h3 {
        margin-bottom: 30px;
    }
    .how_it_works_section_col:first-child {
        margin-right: 50px;
        padding-left: 0;
    }
    .how_it_works_section_col iframe {
        min-height: 280px;
    }
}

@media (max-width: 1139.9px) {
    .how_it_works_section {
        padding-top: 30px;
    }
    .how_it_works_section h2 {
        margin-bottom: 40px;
        font-size: 20px;
        line-height: 28px;
    }
    .how_it_works_section_row {
        flex-direction: column;
    }
    .how_it_works_section_col {
        padding: 0;
        width: 100%;
        margin-bottom: 25px;
    }
    .how_it_works_section_col h3 {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 15px;
    }
    .how_it_works_section_col img {
        height: 300px;
    }
    .how_it_works_section_col iframe {
        height: 200px;
    }
}

.how_it_works_section_row {
    display: flex;
}

.how_it_works_section_col {
    position: relative;
}

.how_it_works_section_col h3 {
    text-transform: uppercase;
    background: linear-gradient(90deg, #0AD2CA -0.17%, #16F09B 122.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}



.how_it_works_section_col img {
    position: absolute;
    top: -80px;
    left: -150px;
    z-index: -1;
}

.how_it_works_section_col iframe {
    width: 100%;
}

.how_it_works_section_col a {
    background: linear-gradient(90deg, #0AD2CA -0.17%, #16F09B 122.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}